<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AppleScripts for chrome</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chrome/style.css' %}">
</head>
<body>

<p>These are all I've got: </p>
{% if script_list %}
    <ul>
    {% for script in script_list %}
        <li> <a href="/chrome/execute/{{ script.id }}" class="button">execute</a> <a href="/chrome/cat/{{ script.id }}/">{{ script.name }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No scripts are available.</p>
{% endif %}

</body>
</html>